[Unit]
Description=Inventory Resort Management System - TeqMates
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/inventory/ResortApp
# EnvironmentFile=/var/www/inventory/ResortApp/.env
# Manually setting essential env vars if file is missing
Environment="PYTHONPATH=/var/www/inventory/ResortApp"
ExecStart=/var/www/inventory/venv/bin/gunicorn main:app -c gunicorn_inventory.conf.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
